doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    ul(id='main-menu')
      li: a(href='/') Home
      li: a(href='/play') Play

    block content