extends layout

block content
  script(type='text/javascript', src='/javascripts/ur.js')
  h1= title
  p Welcome to #{title}
  
  button(onclick='startNewGame()') Start New
  br/
  p Code:
  input(type='text', id='join_game_code')
  button(onclick='joinGame()') Join
  p(id='game_id')
  p(id='player_color')
  button(onclick='rollDice()') Roll Dice
  
  div(id='board')
    div
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'3\', \'black\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'2\', \'black\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'1\', \'black\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'0\', \'black\')')
      div(class='cell')
        div(class='cell-click-zone' style='background-color: red')
      div(class='cell')
        div(class='cell-click-zone' style='background-color: red')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'13\', \'black\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'12\', \'black\')')
    div
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'4\', \'neutral\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'5\', \'neutral\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'6\', \'neutral\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'7\', \'neutral\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'8\', \'neutral\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'9\', \'neutral\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'10\', \'neutral\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'11\', \'neutral\')')
    div
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'3\', \'white\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'2\', \'white\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'1\', \'white\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'0\', \'white\')')
      div(class='cell')
        div(class='cell-click-zone' style='background-color: red')
      div(class='cell')
        div(class='cell-click-zone' style='background-color: red')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'13\', \'white\')')
      div(class='cell')
        div(class='cell-click-zone', onclick='clickedCell(\'12\', \'white\')')
  
  p(id='dice_value')
  p(id='output_p') asd
  p(id='extra_info')