extends layout

block content
  h1= title
  p Welcome to #{title}
  
  button(onclick='startNewGame()') Start New
  br/
  p Code:
  input(type='text', id='join_game_code')
  button(onclick='joinGame()') Join
  p(id='game_id')
  p(id='player_color')
  button(onclick='rollDice()') Roll Dice
  
  div(id='board')
    div
      div(class='cell')
        div(class='cell-click-zone', id='cell-4-black')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-3-black')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-2-black')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-1-black')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-0-black')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-15-black')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-14-black')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-13-black')
          div(class='cell-piece')
    div
      div(class='cell')
        div(class='cell-click-zone', id='cell-5-neutral')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-6-neutral')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-7-neutral')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-8-neutral')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-9-neutral')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-10-neutral')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-11-neutral')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-12-neutral')
          div(class='cell-piece')
    div
      div(class='cell')
        div(class='cell-click-zone', id='cell-4-white')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-3-white')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-2-white')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-1-white')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-0-white')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-15-white')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-14-white')
          div(class='cell-piece')
      div(class='cell')
        div(class='cell-click-zone', id='cell-13-white')
          div(class='cell-piece')

  img(class='cache-img', src='../images/red_hl.png', alt='red_hl')
  img(class='cache-img', src='../images/green_hl.png', alt='green_hl')
  img(class='cache-img', src='../images/green_target.png', alt='green_target')
  
  p(id='dice_value')
  p(id='output_p') asd
  p(id='extra_info')
  script(type='text/javascript', src='/javascripts/ur.js')