extends layout

block content
  link(rel='stylesheet', href='/stylesheets/ur.css')
  div(id='swap-div-container')
      div(class='swap-div', id='intro-div', style='display: block;')
        p Start new game:
        button(onclick='startNewGame()') New Game
        p Or join a game
        button(onclick='showJoinDiv()') Join Game

      div(class='swap-div', id='waiting-div')
        p Waiting for opponent to join with the following code:
        h3(id='game-code-display')

      div(class='swap-div', id='join-div')
        p Game code:
        input(type='text', id='join-game-code')
        br/
        button(onclick='joinGame()') Join

      div(class='swap-div', id='board-div')
        div(class='flex-container')
            div(id='board-container')
              div(id='top-board-display')
              p(id='game-id')
              div(id='board')
                div
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-4-black')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-3-black')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-2-black')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-1-black')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-0-black')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-15-black')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-14-black')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-13-black')
                      div(class='cell-piece')
                div
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-5-neutral')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-6-neutral')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-7-neutral')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-8-neutral')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-9-neutral')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-10-neutral')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-11-neutral')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-12-neutral')
                      div(class='cell-piece')
                div
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-4-white')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-3-white')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-2-white')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-1-white')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-0-white')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-15-white')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-14-white')
                      div(class='cell-piece')
                  div(class='cell')
                    div(class='cell-click-zone', id='cell-13-white')
                      div(class='cell-piece')
              h3(id='dice-value')
            div(id='chat-div')
              section(id='chat-content')
              footer(id='chat-footer')
                input(type='text', id='message-input')
                button(onclick='sendMessage()') Send

  img(class='hidden-elm', src='/images/red_hl.png', alt='red_hl')
  img(class='hidden-elm', src='/images/green_hl.png', alt='green_hl')
  img(class='hidden-elm', src='/images/green_target.png', alt='green_target')
  img(class='hidden-elm', src='/images/loading.gif', alt='loading_gif')
  
  script(type='text/javascript', src='/javascripts/ur.js')